.git
.idea
.project
nohup.out
.settings
.DS_Store
sftp-config.json
nginx.conf

*~
*.diff
*.patch
*.log
*.swp
bower_components/
/App/Runtime/
output/
test_output/
test/
www/app/
output.tar.gz
www/app/
output.tar.gz
test/
Test/
node_modules/
