/**
 *	reset.css
 */
html{
	color:#000;
	background:#FFF;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td{
	margin:0;
	padding:0;
}
table{
	border-collapse: collapse;
	border-spacing: 0;
}
fieldset, img{
	border: 0;
}
address, caption, cite, code, dfn, em, strong, th, var{
	font-style: normal;
	font-weight: normal;
}
li{
	list-style:none;
}
caption, th{
	text-align:left;
}
h1, h2, h3, h4, h5, h6{
	font-size: 100%;
	font-weight: normal;
}
q:before, q:after{
	content: '';
}
abbr, acronym{
	border: 0;
	font-variant: normal;
}
sup{
	vertical-align: text-top;
}
sub{
	vertical-align: text-bottom;
}
input, textarea, select{
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}
input, textarea, select{
	*font-size: 100%;
}
legend{
	color: #000;
}

/**
 *	common.css
 */
html, body{
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	width: 100%;
	height: 100%;
}

.clearfix:after{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	zoom: 1;
	_height: 1px;
}

*html .clearfix{
	height: 1%;
}

*+html .clearfix{
	height: 1%;
}

/**
 *	loading.css
 */
#loading{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	text-align: center;
}

#loading .text{
	position: relative;
	width: 676px;
	height: 20px;
	top: 119px;
	text-align: center;
	font-size: 14px;
	margin: auto;
}

#loading .bar{
	position: relative;
	width: 676px;
	height: 18px;
	top: 139px;
	left: 0;
	border-width: 2px;
	border-color: #606060 #e9e7e3 #e9e7e3 #606060;
	border-style: solid;
	background-color: #fff;
	text-align: left;
	margin: auto;
}

#loaded{
	width: 0px;
	height: 18px;
	overflow: hidden;
	background-color: #0a246a;
}

/**
 *	page.css
 */
html, body{
	width: auto;
	height: 100%;
}

body{
	background-color: #333;
}

#page{
	width: auto;
	text-align: center;
}

#screen{
	width: 680px;
	height: 300px;
	margin: auto;
	margin-top: 30px;
	background-image: url(background.png);
	position: relative;
}

#screen .cloud{
	position: absolute;
	width: 676px;
	height: 196px;
	left: 2px;
	top: 2px;
	background-image: url(cloud.jpg);
	display: none;
}

#screen .hill{
	position: absolute;
	width: 676px;
	height: 36px;
	left: 2px;
	top: 162px;
	background-image: url(hill.gif);
	display: none;
}

#screen .road,
#screen .cover{
	position: absolute;
	left: 2px;
	top: 198px;
	width: 676px;
	height: 100px;
	overflow: hidden;
}

#screen .cover{
	top: -2px;
	height: 300px;
}

#screen .cover img{
	position: absolute;
	border: 0;
}

#screen .cover .point{
	position: absolute;
	background-color: red;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

#screen .mask{
	position: absolute;
	left: 2px;
	top: 198px;
	width: 676px;
	height: 99px;
	background-image: url(mask.png);
	_background-image: none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/mask.png',sizingMethod='scale');
}

#screen .car{
	position: absolute;
	width: 100px;
	height: 100px;
	left: 290px;
	top: 208px;
}

#buttons{
	margin: 10px auto;
	width: 680px;
	height: 30px;
}

#buttons button{
	float: left;
	height: 100%;
	border-width: 1px;
}

#copyright{
	color: #999;
	margin: auto;
	width: 680px;
	line-height: 20px;
	font-size: 12px;
	text-align: center;
}

#page .line{
	margin: auto;
	color: #ccc;
	width: 600px;
	line-height: 30px;
	font-size: 14px;
	text-align: left;
}

#page .line strong{
	font-size: 24px;
	font-weight: 700;
	color: yellow;
}

#page .line em{
	color: #0ff;
}

#pause{
	position: absolute;
	width: 333px;
	height: 78px;
	left: 174px;
	top: 111px;
	background-image: url(pause.png);
	_background-image: none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/pause.png',sizingMethod='scale');
	display: none;
}

#info{
	width: 680px;
	height: 145px;
	margin: auto;
	position: relative;
	background-color: #080703;
}

#info .speedInfo{
	width: 256px;
	height: 145px;
	left: 212px;
	top: 0px;
	position: absolute;
	background-image: url(speed-bg.gif);
}

#paddle-option{
	position: absolute;
	line-height: 20px;
	text-indent: 2px;
	left: 10px;
	top: 110px;
}

#paddle-option label{
	font-size: 14px;
	color: #ccc;
}

/* basicslippage */
.ucrenlite-basicslippage-layer{
	overflow: hidden;
	line-height: 0;
}
.ucrenlite-basicslippage-inner{
	text-decoration: none;
	text-align: center;
	font-size: 14px;
	display: block;
}

#paddle{
	position: absolute;
	left: -146px;
	top: 11px;
	display: none;
}

/* paddle */
.paddle-scene{
	position: relative;
}

.paddle-item{
	position: absolute;
	-moz-user-select: none;
	-webkit-user-select: none;
}

#countdown{
	left: 50%;
	top: 50%;
	position: absolute;
	margin-left: -24px;
	margin-top: -24px;
	color: #ff0;
	font-size: 48px;
	display: none;
}
